QN.1

In [11]:
import pandas as pd
import numpy as np

# Create 1D array
arr_1d = np.array([1, 2, 3, 4, 5])
print(arr_1d)

[1 2 3 4 5]

QN.2

In [4]:
# Create 2D array (3x3) of consecutive integers
arr_2d = np.arange(1, 10).reshape(3, 3)
print(arr_2d)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

QN.3

In [5]:
# Array operations
mean_value = np.mean(arr_1d)
std_dev = np.std(arr_1d)
max_value = np.max(arr_1d)

print("Mean:", mean_value)
print("Standard Deviation:", std_dev)
print("Max Value:", max_value)

Mean: 3.0
Standard Deviation: 1.4142135623730951
Max Value: 5

QN.4

In [6]:
# Load CSV file
df = pd.read_csv('/content/sample-data.csv')
print(df)

                  Name  Age  Salary          Department  Experience  \
0        Emily Johnson   28   55000           Marketing           4
1         Michael Chen   35   72000         Engineering           8
2      Sarah Rodriguez   42   88000               Sales          15
3            David Kim   31   62000                  IT           6
4      Rachel Thompson   26   48000    Customer Support           3
5           Alex Patel   39   95000             Finance          12
6         Jessica Wong   33   67000                  HR           7
7         Kevin Nguyen   45  105000  Product Management          18
8           Lisa Brown   29   58000              Design           5
9        Robert Garcia   37   81000          Operations          11
10          Amanda Lee   24   42000           Marketing           2
11  Christopher Taylor   40   92000               Sales          14
12     Olivia Martinez   27   52000    Customer Support           4
13         Daniel Park   36   78000         Engineering           9
14         Emma Wilson   32   65000                  IT           6
15         Ryan Sharma   44   98000             Finance          16
16          Sophia Liu   30   59000                  HR           5
17     Thomas Anderson   41   87000  Product Management          13
18      Karen Williams   25   46000              Design           3
19       Mark Robinson   38   83000          Operations          10
20        Jennifer Lee   33   68000           Marketing           7
21         Andrew Chen   36   75000               Sales           8
22       Nicole Garcia   29   54000    Customer Support           4
23          Steven Kim   43   95000         Engineering          15
24        Lauren Patel   27   51000                  IT           3
25     Brian Rodriguez   39   85000             Finance          12
26       Michelle Wong   31   62000                  HR           6
27      Jason Thompson   34   71000  Product Management           7
28         Rebecca Liu   26   47000              Design           2
29     Jonathan Taylor   37   79000          Operations           9

     Education
0   Bachelor's
1     Master's
2          PhD
3   Bachelor's
4   Bachelor's
5     Master's
6   Bachelor's
7     Master's
8   Bachelor's
9     Master's
10  Bachelor's
11         PhD
12  Bachelor's
13    Master's
14  Bachelor's
15         PhD
16  Bachelor's
17    Master's
18  Bachelor's
19    Master's
20  Bachelor's
21    Master's
22  Bachelor's
23         PhD
24  Bachelor's
25    Master's
26  Bachelor's
27  Bachelor's
28  Bachelor's
29    Master's

QN.5

In [7]:
# Check for missing values
print("Missing values per column:")
print(df.isnull().sum())

# Fill missing values with 0
df.fillna(0, inplace=True)
print(df)

Missing values per column:
Name          0
Age           0
Salary        0
Department    0
Experience    0
Education     0
dtype: int64
                  Name  Age  Salary          Department  Experience  \
0        Emily Johnson   28   55000           Marketing           4
1         Michael Chen   35   72000         Engineering           8
2      Sarah Rodriguez   42   88000               Sales          15
3            David Kim   31   62000                  IT           6
4      Rachel Thompson   26   48000    Customer Support           3
5           Alex Patel   39   95000             Finance          12
6         Jessica Wong   33   67000                  HR           7
7         Kevin Nguyen   45  105000  Product Management          18
8           Lisa Brown   29   58000              Design           5
9        Robert Garcia   37   81000          Operations          11
10          Amanda Lee   24   42000           Marketing           2
11  Christopher Taylor   40   92000               Sales          14
12     Olivia Martinez   27   52000    Customer Support           4
13         Daniel Park   36   78000         Engineering           9
14         Emma Wilson   32   65000                  IT           6
15         Ryan Sharma   44   98000             Finance          16
16          Sophia Liu   30   59000                  HR           5
17     Thomas Anderson   41   87000  Product Management          13
18      Karen Williams   25   46000              Design           3
19       Mark Robinson   38   83000          Operations          10
20        Jennifer Lee   33   68000           Marketing           7
21         Andrew Chen   36   75000               Sales           8
22       Nicole Garcia   29   54000    Customer Support           4
23          Steven Kim   43   95000         Engineering          15
24        Lauren Patel   27   51000                  IT           3
25     Brian Rodriguez   39   85000             Finance          12
26       Michelle Wong   31   62000                  HR           6
27      Jason Thompson   34   71000  Product Management           7
28         Rebecca Liu   26   47000              Design           2
29     Jonathan Taylor   37   79000          Operations           9

     Education
0   Bachelor's
1     Master's
2          PhD
3   Bachelor's
4   Bachelor's
5     Master's
6   Bachelor's
7     Master's
8   Bachelor's
9     Master's
10  Bachelor's
11         PhD
12  Bachelor's
13    Master's
14  Bachelor's
15         PhD
16  Bachelor's
17    Master's
18  Bachelor's
19    Master's
20  Bachelor's
21    Master's
22  Bachelor's
23         PhD
24  Bachelor's
25    Master's
26  Bachelor's
27  Bachelor's
28  Bachelor's
29    Master's

QN.6

In [9]:
# Select columns 'Age' and 'Name' and the first 5 rows
selected_data = df[['Name', 'Age']].iloc[:5]
print(selected_data)

              Name  Age
0    Emily Johnson   28
1     Michael Chen   35
2  Sarah Rodriguez   42
3        David Kim   31
4  Rachel Thompson   26

QN.7

In [10]:
# Rename columns
df.rename(columns={'Name': 'Names'}, inplace=True)
print(df)

                 Names  Age  Salary          Department  Experience  \
0        Emily Johnson   28   55000           Marketing           4
1         Michael Chen   35   72000         Engineering           8
2      Sarah Rodriguez   42   88000               Sales          15
3            David Kim   31   62000                  IT           6
4      Rachel Thompson   26   48000    Customer Support           3
5           Alex Patel   39   95000             Finance          12
6         Jessica Wong   33   67000                  HR           7
7         Kevin Nguyen   45  105000  Product Management          18
8           Lisa Brown   29   58000              Design           5
9        Robert Garcia   37   81000          Operations          11
10          Amanda Lee   24   42000           Marketing           2
11  Christopher Taylor   40   92000               Sales          14
12     Olivia Martinez   27   52000    Customer Support           4
13         Daniel Park   36   78000         Engineering           9
14         Emma Wilson   32   65000                  IT           6
15         Ryan Sharma   44   98000             Finance          16
16          Sophia Liu   30   59000                  HR           5
17     Thomas Anderson   41   87000  Product Management          13
18      Karen Williams   25   46000              Design           3
19       Mark Robinson   38   83000          Operations          10
20        Jennifer Lee   33   68000           Marketing           7
21         Andrew Chen   36   75000               Sales           8
22       Nicole Garcia   29   54000    Customer Support           4
23          Steven Kim   43   95000         Engineering          15
24        Lauren Patel   27   51000                  IT           3
25     Brian Rodriguez   39   85000             Finance          12
26       Michelle Wong   31   62000                  HR           6
27      Jason Thompson   34   71000  Product Management           7
28         Rebecca Liu   26   47000              Design           2
29     Jonathan Taylor   37   79000          Operations           9

     Education
0   Bachelor's
1     Master's
2          PhD
3   Bachelor's
4   Bachelor's
5     Master's
6   Bachelor's
7     Master's
8   Bachelor's
9     Master's
10  Bachelor's
11         PhD
12  Bachelor's
13    Master's
14  Bachelor's
15         PhD
16  Bachelor's
17    Master's
18  Bachelor's
19    Master's
20  Bachelor's
21    Master's
22  Bachelor's
23         PhD
24  Bachelor's
25    Master's
26  Bachelor's
27  Bachelor's
28  Bachelor's
29    Master's